<div class="modal is-active">
  <!-- Background element -->
  <div class="modal-background"></div>

  <!-- Main content -->
  <div class="modal-card">
    <!-- Actually the main content -->
    <section id="modalContent" class="modal-card-body">
    </section>

    <!-- Main content footer -->
    <footer class="modal-card-foot">
      <a id="submitModal" class="button is-primary">Add Task</a>
      <a id="closeModal" class="button">Cancel</a>
    </footer>
  </div>
</div>
