<div class="doro-sprint column is-12">
  <div class="time-remaining">
    <%= minutes %>:<% if (seconds < 10) { %>0<%= seconds %><%} else {%><%= seconds %><% } %>
    </div>
  <br>
  <div class="task"><%= SprintTask %></div>
</div>
